@media (min-width:200px) and (max-width:640px) {

   header{
    position: fixed;
    height: 100px;
    background-color: #fff;
    z-index: 1111;
    width: 100%;
    height: 80px;
   } 
   .container-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    /* width: 100%; */
  }
   nav ul{
    display: block;
    position: absolute;
    width: 80%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #eeeeee;
    padding: 1rem;
    margin-top: -20px;
   }
   nav {
    display: inline-block;
    margin-right: 2rem;
    position: relative;
    width: 100%;
    top: 0;
    left: -100%;
    transition: .8s;
  }
   .navMenu{
     left: 0;
     transition: .8s;
   }
   .nav-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #0b0b0b27;
    height:0px;
    /* z-index: -111; */
   }
   .nav-overaly1{
    height: 100vh;
   }
   .container-menu{
    position: fixed;
    z-index: 999999;
    top: 45px;
    right:10px;
  }
   nav ul li{
    border-bottom: 0.1px solid gray;
    margin-bottom: 1rem;
    margin-top: rem;
   }
   nav ul img{
    display: block;
    width: 180px;
    margin-bottom: 2rem;
   }
   nav ul a{
    line-height: 200%;
   }
   header button{
    display: none;
   }

   
.hero-section{
  padding-top: 100px !important;
}
   .myContainer{
    padding: 0rem;
   }

   .strip-content{
    display: block;
    line-height: 150%;
    /* margin-left: 2rem; */
  }
  .strip-content .title2 {
    text-align: center;
    position: relative;
    line-height: 173%;
    margin-top: 1rem;
  }
  .strip-content .title2 {
    color: var(--white-color);
    z-index: 9999;
   
  }
  
   .left-side .title h1{
    line-height: 100%;
    font-size: 2rem;
   }
   .title-span {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 1.2rem;
    color: var(--blue-color);
    margin-bottom: .5rem !important;
  }
   .hero-section p{
    font-size: 12px;
   }
   .hero-img img{
    width: 100%;
   }
   .right-side .overlayImg {
    left: -45px;
    width: 127%;
  }

  .client-carousel{
    border: 1px solid red;
    display: none;
  }
  .client-logo img {
    width: 0%;
    height: 60px;
  }
  .service-box{
    height: auto;
  }

  .after-right .title2{
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 0rem;
    /* line-height: 10%; */
  }

  .strategy-section .after-box:nth-child(2n) {
    margin-left:0rem;
  }

  .fa-circle-check {
    font-size: 16px;
  
  }
  p {
    font-size: 12px;
    color: var(--text-color);
  }

  .section-btn{
    text-align: center;
  }

  .footer-section{
    padding: 1rem;
  }

  .min-box1{
    flex-direction: row-reverse;
    text-align: start;
  }

  .fa-quote-left{
    color: #9CADD4;
    font-size: 60px;
  }

  .testi-name{
    margin-top: 2rem;
    font-size: 1rem;
  }
  
  .fa-circle{
    font-size: 3rem;
    vertical-align: middle;
  }

}





/* large -screen */
@media (min-width:1300px) and (max-width:1600px) {
    .myContainer{
        padding: 3rem 12rem;
    }

    header{
        padding: 2rem 12rem;
    }
    
      .hero-img img {
        width: 80%;
      }
      
}

